th, td {
	padding: 0px;
	margin: 0px;
}
.topbar {
	border-spacing: 0px;
	border-collapse: collapse;
	margin-bottom: 0px;
}
.topbar img {
	display: block; /* Eliminate inline spacing */
	margin: 0;
	padding: 0;
	max-height: 300px;
}
hr {
	margin-top: 0px;
}
h1 {
	font-size:24px;
	font-family:verdana;
	color: #660000;
	margin: 0px;
	display: inline;
}
h2, h3, h4, h5 {
	display: inline;
}
ul {
	list-style-image: url("tabs/dot.png");
}
a:link, a:visited, a:hover, a:active {
	color: #d00
}